body
{
    margin: 0;
}
.container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top
{
    flex: 0 1 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 1px 0 1px;
    padding: 10px 20px;
    border: 1px solid rgb(161, 161, 161);
    box-shadow: 0 0 5px lightgray;
    max-height: 30px;
}
.logo
{
    align-self: center;
    font-size: 1.3rem;
}
.navigation
{
    align-self: center;
    margin-left: 20px;
}
.navigation_ul
{
    margin: 0;
    list-style-type: none;
}
.navigation_li
{
    display: inline-block;
    padding: 0 4px;
    margin: 0 7px;
    border-radius: 4px;
}
.navigation_li:hover
{
    background-color: rgb(152, 210, 236);
    color: rgb(19, 151, 228);
}
.userInfo
{
    margin-left: auto;/*margin left会尽可能占据剩余空间*/
    display: flex;
}
.avatarContainer
{
    position: relative;
}
.avatar
{
    width: 25px;
    height: 25px;
    border-radius: 50%;/*变为圆形*/
    overflow: hidden;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.userPanel
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 31px;
    padding: 7px 10px 8px 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgb(211, 211, 211);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panelUsername
{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.panelZone
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 142px;
    border-block-start: 1px solid black;
}
.panelFunction
{
    font-size: 0.95rem;
    padding: 5px 5px 2px 5px;
}
.panelFunction:hover
{
    cursor: pointer;
}
.username
{
    align-self: center;
    margin-left: 6px;
    font-size: 0.9rem;
    font-weight: 600;
}
.delimiter
{
    margin-left: 5px;
    content: '|';
    font-size: 1.1rem;
}
.logout
{
    padding: 3px;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8rem;
    border-radius: 3px;
}
.logout:hover
{
    cursor: pointer;
    background-color: rgb(177, 177, 177);
}
.content
{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 23% 0 23%;/*不能再缩小 否则world的聊天内容会出格 原因未知*/
}
.userTop
{
    position: relative;
    width: 100%;
    height: 230px;
    box-shadow: -3px 0 3px lightgray, 3px 0 3px lightgray;
}
.topImageContainer
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color:  black;
}
.topImage
{
    height: 100%;
    width: 100%;
}
.userBasicInfo
{
    position: absolute;
    margin-left: 30px;
    bottom: 15px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topAvatar
{
    width: 55px;
    height: 55px;
    border: 1px solid white;
    border-radius: 50%;
}
.topUserText
{
    margin-left: 5px;
}
.topUsername
{
    color: white;
    font-size: 1.30rem;
    margin-bottom: 3px;
}
.topSignature
{
    color: white;
    font-size: 0.85rem;
    margin-bottom: 3px;
}
.topRightContainer
{
    position: absolute;
    z-index: 999;
    bottom: 25px;
    right: 30px;
}
.topFunctionalZone
{
    display: flex;
    flex-direction: row;
    /*margin-bottom: 10px;*/
}
.follow
{
    border: 1px solid white;
    background-color: rgb(77, 77, 219);
    width: 55px;
    height: 30px;
    border-radius: 5px;
    color: white;
    padding-bottom: 2px;
    margin-right: 15px;
}
.message
{
    border: 1px solid white;
    background-color: rgb(46, 46, 46);
    width: 55px;
    height: 30px;
    border-radius: 5px;
    color: white;
    padding-bottom: 2px;
}
.topUserData
{
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
    color: white;
}
/*.chatNumContainer, .postNumContainer, .userIdentityContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
}*/
.userDataDelimiter
{
    flex-basis: 1px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 25px;
    background-color: white;
    margin: 0 3px;
    align-self: flex-end;
}
.userPage
{
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(141, 141, 141);
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.rightContainer
{
    position: fixed;
    right: 10%;
    top: 120px;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(141, 141, 141);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}
.chatNumContainer, .postNumContainer, .userIdentityContainer
{
    display: flex;
    flex-direction: row;
}
.userIdentityTitle, .chatNumTitle, .postNumTitle
{
    margin-right: 5px;
}