<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>public</title>
    {% load static %}<!---->
    <link rel="stylesheet" type="text/css" href="{% static 'frameStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public_style.css' %}">
    <script src="{% static 'login_check.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="logo">Chat</div>
            <nav class="navigation">
                <ul class="navigation_ul">
                    <li class="navigation_li"><a>test1</a></li>
                    <li class="navigation_li"><a>test2</a></li>
                    <li class="navigation_li"><a>test3</a></li>
                </ul>
            </nav>
            <div class="userInfo">
                <div class="avatarContainer">
                    <div class="avatar">
                    <img src="{% static 'avatar.png' %}">
                    </div>
                </div>
                <div class="username"></div>
            </div>
            <div class="delimiter">|</div>
            <div class="logout">退出登录</div>
        </div>
        <div class="content">
            <div class="publicChatContainer">
                <div class="publicChatTitle">公共聊天</div>
                <div class="publicChatContent">
                    <div class="chatContainer">
                        <div class="chatUsername">username</div>
                        <div class="chatRight">
                            <div class="chatTime">2024/07/26 10:52</div>
                            <div class="chatContent">test 测试 </div>
                        </div>
                    </div>
                </div>
                <div class="publicChatSubmitContainer">
                    <textarea class="publicChatSubmitContent"></textarea>
                    <input class="publicChatSubmitBtn" type="button" value="发送">
                </div>
            </div>
        </div>    
    </div>
    <script src="{% static 'public_api.js' %}"></script>
    <script src="{% static 'frame_logic.js' %}"></script>
</body>
</html>