<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>home</title>
    {% load static %}<!---->
    <!--<link rel="stylesheet" type="text/css" href="../static/homeStyle.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'frameStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homeStyle.css' %}">
    <script src="{% static 'login_check.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="logo">Chat</div>
            <nav class="navigation">
                <ul class="navigation_ul">
                    <li class="navigation_li"><a>test1</a></li>
                    <li class="navigation_li"><a>test2</a></li>
                    <li class="navigation_li"><a>test3</a></li>
                </ul>
            </nav>
            <div class="userInfo">
                <div class="avatarContainer">
                    <div class="avatar">
                    <img src="{% static 'avatar.png' %}">
                    </div>
                </div>
                <div class="username"></div>
            </div>
            <div class="delimiter">|</div>
            <div class="logout">退出登录</div>
        </div>
        <div class="content">
            <div class="worldContainer">
                <div class="worldTop">
                    <div class="worldTitle">公共聊天</div>
                    <div class="enterWorldContainer">
                        <input type="button" value="进入聊天室" class="enterWorldButton">
                    </div>
                </div>
                <div class="worldContent">
                    <div class="chat">
                        <div class="chatUsername">username:</div>
                        <div class="chatContent">contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'frame_logic.js' %}"></script>
    <script src="{% static 'home_api.js' %}"></script>
    <!--<script src="../static/home_api.js"></script>-->
</body>
</html>